body {
   background: url("https://www.desktopbackground.org/p/2011/06/30/227124_widescreen-grey-wallpaper-triangles-image-high-resolution-picture-jpg_1920x1080_h.jpg") no-repeat center center fixed;
   background-size: cover;

}

.myaccordion {
  max-width: 500px;
  margin: 50px auto;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
}
.myaccordin.card-header {
  border-bottom-color: #EDEFF0;
  background: #EDEFF0;
}
.card.card-header{
  font-style: italic;
}